# NetBeans specific #
**/build/**
build/
/build/
**/private/**
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
*.class

/nbproject/private/
/Libs/nbproject/private/
/GetVelocity/nbproject/private/
/APPImporterMOAP/nbproject/private/
/MOAPImporter/nbproject/private/
/APPMOAPImporter/nbproject/private/
/MOAPClustering/nbproject/private/