# NetBeans specific #
nbproject/private/
**/build/**
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


/MOAPClustering/build/
/MOAPDBPostgres/build/
/MOAPDataModel/build/
/SuperCSVWrapper/build/
/SuperCSVWrapper/nbproject/private/
/MOAPImporter/nbproject/private/
/org.supercsv/build/
/MOAPStop/nbproject/private/
/MOAPNetwork/nbproject/private/


/build/